*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Avenir Next";
  text-decoration: none;
  color: black;
}

body{

}



.header-bar{
  position: relative;
  display: flex;
  height: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 25px rgb(0, 0, 0);
}

.header-logo{
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
  font-family: sans-serif;
  line-height: 90px;
}

.header-list ul{
  position: absolute;
  right: 150px;
  margin-left: 40px;
}

.header-list li{
  display: inline-block;
  line-height: 90px;
  font-size: 20px;
  margin-left: 80px;
}

.header-list li a{
  padding: 15px;
}

.header-list li a:hover{
  background-color: rgb(47, 47, 47);
  border-radius: 15px;
  color: white;
}

.header-content{
  background-image: url("background.jpg");
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: 0 -150px;
  /* -webkit-filter: blur(1px); */
}

.header-content h1{
  font-size: 80px;
  color: white;
  margin-left: 150px;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 600px;
}

.header-content h2{
  margin-left: 150px;
  color: white;
  font-family: sans-serif;
  position: relative;
  top: -250px;
}

article{
  text-align: center;
  color: red;
  font-family: sans-serif;
}

.tentang-saya{
  padding: 200px;
  /* font-family: sans-serif; */
  background-color: rgb(47, 47, 47);
  margin: 100px auto;
  
  
}

.tentang-saya:hover{
  transition: 5s;
  background-color: black;
}

.proyek-contoh{
  margin-bottom: 300px;
  /* margin-top: 100px; */
  padding-top: 10px;
}

.proyek-contoh h1{
  margin-top: 300px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.proyek-contoh .item{
  /* right: 0; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyek-contoh .item img{
  box-shadow: 25px 25px 25px rgba(116, 116, 116, 0.5);
}

.proyek-contoh .item img:hover{

}

.proyek-contoh .item1{
  margin-right: 50px;
}

.proyek-contoh .item3{
margin-left: 50px;
}

.tentang-saya{
  height: ;
}

.tentang-saya h2{
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 80px;
}

.tentang-saya p{
  color: white; 
  font-size: 20px;
}

.contact-form {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  /* background-color: rgb(244, 244, 244); */
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
}

input, textarea {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding:20px;
  font-size: 18px;
  border: 0px;
  background-color: #e0e0e0;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color:#7C7D83;
}

.contact-submit{
  width: 500px;
  background-color:#f7ea8a;
  color:#4f4f4f;
  font-size: 22px;
}

.contact-form p{
  font-size: 20px;
}

.footer {
  background-color: rgb(47, 47, 47);
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  color: white;
  float: left;
  font-size: 32px;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}





